<div class="tpshop-service">
	<ul class="w1224 clearfix">
		<li>
			<i class="ico ico-day7"></i>
			<p class="service">7天无理由退货</p>
		</li>
		<li>
			<i class="ico ico-day15"></i>
			<p class="service">15天免费换货</p>
		</li>
		<li>
			<i class="ico ico-quality"></i>
			<p class="service">正品行货 品质保障</p>
		</li>
		<li>
			<i class="ico ico-service"></i>
			<p class="service">专业售后服务</p>
		</li>
	</ul>
</div>
<div class="footer">
	<div class="w1224 clearfix">
		<div class="left-help-list clearfix">
					<dl>
				<dt>新手上路</dt>
								<dd><a href="/index.php/Home/Article/detail/article_id/1.html">新用户注册</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/2.html">积分细则</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/3.html">忘记密码</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/4.html">如何搜索</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/23.html">积分兑换说明</a></dd>
							</dl>
					<dl>
				<dt>购物指南</dt>
								<dd><a href="/index.php/Home/Article/detail/article_id/5.html">会员修改密码</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/6.html">修改个人资料</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/7.html">会员等级</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/8.html">常见问题</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/22.html">修改收货地址</a></dd>
							</dl>
					<dl>
				<dt>售后服务</dt>
								<dd><a href="/index.php/Home/Article/detail/article_id/14.html">售后政策</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/15.html">退换货流程</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/16.html">退款说明</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/17.html">取消订单</a></dd>
							</dl>
					<dl>
				<dt>支付方式</dt>
								<dd><a href="/index.php/Home/Article/detail/article_id/9.html">银联支付</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/10.html">支付宝支付</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/11.html">微信支付</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/12.html">余额支付</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/13.html">分期付款</a></dd>
							</dl>
					<dl>
				<dt>配送方式</dt>
								<dd><a href="/index.php/Home/Article/detail/article_id/18.html">免运费政策</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/19.html">物流查询</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/20.html">上门自提</a></dd>
								<dd><a href="/index.php/Home/Article/detail/article_id/21.html">配送服务承诺</a></dd>
							</dl>
			
		</div>
		<div class="right-contact-us">
			<h3 class="title">联系我们</h3>
			<span class="phone">123456789</span>
			<p class="tips">周一至周日8:00-18:00<br />(仅收市话费)</p>
			<div class="qr-code-list clearfix">
				<a class="qr-code" href="javascript:;"><img class="w-100" src="picture/qrcode_2.png" alt="" /></a>
				<a class="qr-code qr-code-tpshop" href="javascript:;"><img class="w-100" src="picture/qrcode_2.png" alt="" /></a>
			</div>
		</div>
	</div>
</div>